/* custom font*/
@font-face{
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face{
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/* Default css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
} */
body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
  
  
  /* height: 500vh; */
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* .........................navbar....................... */

.main-navbar{
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  
}
.main-container {
  display: flex;
  justify-content: space-between;
  /* padding-bo: 80px; */
  margin: 1rem;
}
.logo {
  margin-left: 1rem;
}
.logo a {
  text-decoration: none;
  color: #fff;
}
.logo a h2{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline;
}
.logo .menu-icon{
  display: none;
}
.main-container .links{
  display: flex;
  gap: 5rem;
  margin-right: 5rem ;
}
.main-container .links a{
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 8px 12px;
  /* transition: background none, transform 0,2s; */

}

.main-container .links a:hover{
 /* background-color:  #2a2a2a; */
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
 border-radius: 10px;
 transform: translateY(-2px);
 transition: 0.00003s;

}

.main-container .links .active {
  /* background-color:  #2a2a2a; */
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* ........................home......................... */
.about-container{
  padding: 1rem;
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  background-image: url('./assets/img/banner-bg.png');
  background-size: contain;

}

.p-welcome {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline;
}

.about-container .discraption h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.about-container .discraption p{
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 130%;
}

.about-container .discraption p span{
  color: #ad059f;
  font-weight: 700;
}
.about-container .discraption  a{
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.about-container .discraption  a svg{
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.about-container .discraption a:hover svg{
  margin-left: 25px;
}


.about-container .my-image img{
  height: 70%;
  object-fit: fill;
  position: relative;
  right: -200px;
}

/* ........................projects......................... */
.projects{
  background-color: #121212;
  padding: 100px 0 0;
  text-align: center;

}
.projects h1{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline;
  margin: 20px;
}
/* .projects h1 {
  margin: 0;
  padding: 20px;
  text-align: start;
} */
.projects-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-top: 20px;
}
.project-card{
  background: #312e2e41;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.project-card img{
  width: 50%;
  border-radius: 10px;
} 

.project-card h3{
  padding: 10px;
  color: #ad059f;
}
.project-card p{
  padding: 10px;
  font-weight: 1000;
}

.project-card p span{
  color: #ad059f;

}
.git-btn a{
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.git-btn a svg{
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.git-btn a:hover svg{
  margin-left: 25px;
}

/* ........................Skills......................... */

.skills{
  padding: 100px 0 0 ;
  text-align: center;
}
.skills h1{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline;
  margin: 20px;
}

.skill-div{
  border-radius: 20px;
}


.skill-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 1rem;
}

/* ........................Contact......................... */

.contact{
  padding: 100px 0 0;
  text-align: center;
}
.contact h1{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline;
  margin: 20px;
}
.contact-div{
  display: flex;
  margin: 30px 0;
  padding: 0;
}
.contact-div .contact-img img{
  width: 100%;
  padding-top: 20px;
}

.contact-div .form form{
  display: grid;
}
.contact-div .form form label{
  color: #ad059f;
  margin-left: 1rem;
}

.contact-div .form form input{
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  width: 20rem;
  margin-left: 1rem;
}

.contact-div .form form textarea{
  padding: 10px;
  border-radius: 5px;
  width: 20rem;
  height: 20rem;
  margin-left: 1rem;
}

/* ........................Footer......................... */

.footer{
  background-image: url("./assets/img/footer-bg.png");
  padding: 20px;
}
.footer .footer-div{
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
}
.footer .footer-div p{
  font-weight: 700;
  padding: 10px;
}
.footer .footer-div p span{
  color: #ad059f;
}
.footer .icon-footer{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
}

.footer .icon-footer a{
  color: inherit;
  width: 60px;
}

.footer .icon-footer a svg{
  font-size: 30px;
}
.footer .icon-footer a:hover svg{
  color: #0d6efd;
}
/* ........................media......................... */
/* Tablet (iPad air) */
@media (max-width: 992px) {
  /* ...........................navbar...................... */
  .main-container{
    margin: 0;
  }
  .logo .menu-icon{
    display: block;
  }
  .logo {
    display: flex;
    gap: 30rem;
  }
  .logo .menu-icon {
    font-size: 30px;
  }
  .main-container{
    display: none;
  }
  .show{
    display: block;
    position: absolute;
    right: 0;
    top: 5rem;
    background-color: #312e2e7e;
    padding: 10px;
  }
  .main-container .links {
    display: grid;
    gap: 0;
  }
  /* ............................home....................... */
  .about-container{
    padding-top: 10rem;
  }
  .about-container .discraption p{
    width: 100%;

  }
  .about-container .my-image{
    width: 50%;
  }
  .about-container .my-image img{
    display: none;
  }

}

/* Large Mobile / Small Tablet (iPhone 12)*/
@media (max-width: 768px) {
  /* ...............................navbar..................... */
  .logo a h2 {
    font-weight: 800;
    font-size: 10px;
  }
  .logo {
    display: flex;
    gap: 11rem;
  }
  .show {
    margin-right: 5px;
    font-size: 15px;
  }
  /* ...............................home..................... */
  .about-container .discraption p {
    font-size: 10px;
  }
  .about-container .discraption h1 {
    font-size: 30px;
  }
  .about-container .discraption p {
    font-size: 13px;
  }

  /* ...............................project..................... */
  .projects-container {
    display: grid;
    grid-template-columns: none;
    gap: 30px;
    margin-top: 20px;
  }

  /* ...............................skills..................... */
  .skill-img {
    margin: 0;
  }

  /* ...............................contact..................... */
  .contact-div .contact-img img {
    display: none;
  }

  /* ...............................footer..................... */
  .footer .footer-div p {
    font-size: 10px;
  }

  .footer .icon-footer a {
    width: 30px;
  }
}

/* Mobile (iPhone SE) */
@media (max-width: 576px) {

}

